.botton{
    background-color: rgb(243, 238, 247);
    z-index:2;
  }
  
.botton a{
    background: rgb(183, 143, 207);
    color: rgb(243, 238, 247);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 120px;
    padding: 12px;
  }
  
.menu{
    background-color: rgb(243, 238, 247);
    z-index:2;
  }
  
.body{
    background-color: white;
    z-index:1;
  }

.navbar{
    position: absolute;
    right: 30px;
}

.navbar a{
  background-color:white;
}

img {
    width: 100%;
  }
  
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(183, 143, 207);
    font-size: 24px;
    font-weight: bold;
    text-align:left;
  }
  
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(183, 143, 207);
    font-size: 22px;
    font-weight: bold;
    text-align:left;
  }
  
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(183, 143, 207);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  p{
    color: rgb(94, 67, 117);
    text-align:left;
  }
  
  body {
    width: 100%;
    min-height:100%;
    background-color: rgb(243, 238, 247);
  }
  
  .table{
    text-align:center;
    background-color: white;
    width:auto;
  }
